/.idea/workspace.xml
/polychemprint3/Logs/20201217_221850_test.txt
/polychemprint3/Logs/20201217_222019_test3.txt
/polychemprint3/Logs/20201217_222132_dsds.txt
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/PolyChemPrint3.iml
/.idea/inspectionProfiles/profiles_settings.xml
/polychemprint3/recipes/tesfsds.yaml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_4_23_2021_5_49_PM__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Merge_at_4_23_2021_5_52_PM__Default_Changelist_.xml
/.idea/vcs.xml
